/* Write your CSS here! */

body{
    margin: 8px;
    display: block;
    font-family: sans-serif;
    width: 700px;
}

h1 {
    text-align: center;
    color: blue;
    margin: 0;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

.date{
    text-align: center;
    font-size: 150%;
    margin-bottom: 20px;
}

.pictName {
    margin-bottom: 20px;
    color: black;
}

footer{
    text-align: center;
}
.ship{
    height: 200px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
}

p {
    margin: 0;
}

.paraDiv {

    width: 700px;
    margin-bottom: 30px;

}

.pictureDiv {
    display: flex;
    flex-direction: row-reverse;
    float:left
}

